@import "bootstrap-sprockets";
@import "bootswatch/superhero/variables";
@import "bootstrap";
@import "activities";

body {
  padding-top: 70px;
}

.alert {
  position: absolute;
  z-index: 1;
  width: 200px;
}